.add-member {
  width: 1000px;
  margin: 150px auto 0;
  @include flex();
  justify-content: space-between;
  height: 50px;

  .search-input {
    width: 80%;
    height: 100%;
    font-size: 1.2rem;
    padding: 0 10px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  .search-button {
    @include button();
    height: 100%;
    width: 10%;
  }
}
