.list {
  width: 1000px;
  margin: 20px auto 0;
  @include flex-column();
  background: white;
  padding: 20px;
  border-radius: $border-radius;
  .account-container {
    @include flex();
    justify-content: space-between;
    width: 100%;

    .add {
      @include button-reverse();
    }
  }
}
