@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap");

.navigation {
  margin-top: 70px;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.16);
    @include flex();
    justify-content: space-between;
    padding: 0 50px;

    .logo {
      font-family: "Major Mono Display", monospace;
      font-size: 2rem;
    }
    .dashboard {
      @include button();
    }
  }
}
