.issue {
  margin: 150px auto 0;
  width: 1000px;

  .title {
    font-size: 3rem;
  }

  .content {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.16);
  }
}
